@charset "utf-8";

* {
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
	}

button {
	position: fixed;
	top: 70px;
	right: 50px;
	background-color: inherit;
	padding: 20px;
	border-radius: 30px;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: 700;
}

button:hover {
  background-color: grey;
}

header {
	background-image: url("../images/backgroundimg.jpg");
   	background-attachment: fixed;
}

#corners {
	border-radius: 30px;
	margin: 50px;
}

.introduction {
	text-align: center;
	padding: 50px;
	background-size: cover;	
	color: white;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 13px;
	color: white;
}

.box {
	border-style: solid;
	border-color: darkseagreen;
	border-radius: 30px;
	padding-left: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 100px;
	margin: 50px;
}

footer {
	color: Grey;
	position: static;
	bottom: 2px;
}