@charset "utf-8";

.introduction {
	text-align: center;
	background-color: #DB9E9C;
	padding: 50px;
	background-size: cover;
	border-radius: 30px;
	
}

.introduction h1 {
	font-family: Franklin Gothic Medium;
	font-size: 50px;
	font-stretch: ultra-expanded;
	color: white;
	
}

.introduction h3 {
	font-family: Franklin Gothic Medium;
	font-size: 13px;
	color: white;
}

h2 {
	font-family: Franklin Gothic Medium;
}

#corners {
	border-radius: 50px;
}


.features, .history {
	border-style: solid;
	border-color: #C77C7A;
	border-radius: 30px;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	min-width: 100px;
	
}

.history {
	float: right;
	width: 45%;
	
}

.features {
	float: left;
	width: 45%;
}

#Buas {
	color: Grey;
}

.dummytext {
	font-family: Franklin Gothic Medium;
	color: white;
	
}